<div id="<%= dom_id order %>">
  <% if admin? %>
    <div>
      <strong>User:</strong>
      <%= order.user.userid %>
    </div>
  <% end %>

  <div>
    <strong>Name:</strong>
    <%= order.name %>
  </div>

  <div>
    <strong>Address:</strong>
    <%= order.address %>
  </div>

  <div>
    <strong>Email:</strong>
    <%= order.email %>
  </div>

  <div>
    <strong>Paytype:</strong>
    <%= order.paytype %>
  </div>

</div>
